<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3 class="" text-center> todo list</h3>
                    <div class="d-flex justify-content-star mb-4">
                        <!-- <input type="text" class="form-control me-2" @keydown.enter="todoList.push($event.target.value)"> -->

                        <!-- <input type="text" class="form-control me-2" @keydown.enter="todoList.push($event.target.value)"> -->
                        <input type="text" class="form-control me-2" @keydown.enter="addTodo">
                        <button class="btn btn-sm btn-primary"> Ekle </button>
                    </div>
                    <ul class="list-group">
                        <li v-for="todo in todoList" class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <input class="form-check-input" type="checkbox" v-model="todo.completed" :id="`completed_checkbox_${todo.id}`">
                                <label class="form-check-label ms-2" :for="`completed_checkbox_${todo.id}`">{{todo.id}}</label>
                            </div>
                            <button class="btn btn-danger btn-sm" @click="removeItem(todo)">Sil</button>
                        </li>
                        <ul>
                </div>
            </div>
            <div class="col-4">
                <pre>
                    {{todoList}}
                </pre>
            </div>
        </div>
    </div>
    <script src="app.js "></script>
</body>

</html>